### all ignore ###
*
.**

### not ignore ###
!README.md
!install.sh
!.gitignore
!.gitmodules
!.github
!.github/**

!config
!config/**
!doc
!doc/**
!script
!script/**
!templates
!templates/**

.DS_Store
config/dot_config/yazi/plugins
config/dot_config/yazi/package.toml
