### all ignore ###
*
.**

### not ignore ###
!README.md
!install.sh
!.gitignore
!.gitmodules
!.github
!.github/**
!.pre-commit-config.yaml
!.oxfmtrc.json

!config
!config/**
!doc
!doc/**
!script
!script/**
!templates
!templates/**

.DS_Store
config/dot_config/yazi/plugins
config/dot_config/yazi/package.toml
config/dot_config/mise/github_tokens.toml
config/dot_config/uv/uv-receipt.json
config/mac/karabiner/assets
config/mac/karabiner/automatic_backups
