<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>5641</real>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>648 616 624 402 0 0 1920 1205 </string>
	<key>NSWindow Frame SUUpdateAlert2</key>
	<string>694 616 578 402 0 0 1920 1205 </string>
	<key>NSWindow Frame Settings</key>
	<string>64 106 800 600 0 0 1920 1205 </string>
	<key>Paddle-BetterDisplay-762421-SD</key>
	<string>7e0aa157b67a34939bb57b4207a501854057f16d7fef3d60297e877845b4adc8</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-08-18T18:06:28Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>324075257</integer>
	<key>activationPriority@DisplayGroup:-1001</key>
	<integer>0</integer>
	<key>airPlay@Display:2</key>
	<false/>
	<key>airPlay@Display:27</key>
	<false/>
	<key>airPlay@Display:3</key>
	<false/>
	<key>airPlay@Display:4</key>
	<false/>
	<key>airPlay@Display:5</key>
	<false/>
	<key>appAlreadyLaunched</key>
	<true/>
	<key>appDisconnected@Display:2</key>
	<false/>
	<key>appDisconnected@Display:21</key>
	<false/>
	<key>appDisconnected@Display:27</key>
	<false/>
	<key>appDisconnected@Display:3</key>
	<false/>
	<key>appDisconnected@Display:4</key>
	<false/>
	<key>appDisconnected@Display:5</key>
	<false/>
	<key>appleCapable@Display:2</key>
	<false/>
	<key>appleCapable@Display:21</key>
	<false/>
	<key>appleCapable@Display:27</key>
	<false/>
	<key>appleCapable@Display:3</key>
	<false/>
	<key>appleCapable@Display:4</key>
	<true/>
	<key>appleCapable@Display:5</key>
	<false/>
	<key>appleMade@Display:2</key>
	<false/>
	<key>appleMade@Display:21</key>
	<false/>
	<key>appleMade@Display:27</key>
	<false/>
	<key>appleMade@Display:3</key>
	<false/>
	<key>appleMade@Display:4</key>
	<true/>
	<key>appleMade@Display:5</key>
	<false/>
	<key>appleVisionPro@Display:2</key>
	<false/>
	<key>appleVisionPro@Display:27</key>
	<false/>
	<key>appleVisionPro@Display:3</key>
	<false/>
	<key>appleVisionPro@Display:4</key>
	<false/>
	<key>appleVisionPro@Display:5</key>
	<false/>
	<key>buildNumber</key>
	<integer>50119</integer>
	<key>builtIn@Display:2</key>
	<false/>
	<key>builtIn@Display:21</key>
	<true/>
	<key>builtIn@Display:27</key>
	<false/>
	<key>builtIn@Display:3</key>
	<false/>
	<key>builtIn@Display:4</key>
	<true/>
	<key>builtIn@Display:5</key>
	<false/>
	<key>canChangeOrientation@Display:2</key>
	<true/>
	<key>canChangeOrientation@Display:27</key>
	<false/>
	<key>canChangeOrientation@Display:3</key>
	<true/>
	<key>canChangeOrientation@Display:4</key>
	<true/>
	<key>canChangeOrientation@Display:5</key>
	<true/>
	<key>colorProfilesSupported@Display:2</key>
	<true/>
	<key>colorProfilesSupported@Display:21</key>
	<true/>
	<key>colorProfilesSupported@Display:27</key>
	<true/>
	<key>colorProfilesSupported@Display:3</key>
	<true/>
	<key>colorProfilesSupported@Display:4</key>
	<true/>
	<key>colorProfilesSupported@Display:5</key>
	<true/>
	<key>colorTableCapable@Display:2</key>
	<true/>
	<key>colorTableCapable@Display:21</key>
	<true/>
	<key>colorTableCapable@Display:27</key>
	<false/>
	<key>colorTableCapable@Display:3</key>
	<true/>
	<key>colorTableCapable@Display:4</key>
	<true/>
	<key>colorTableCapable@Display:5</key>
	<true/>
	<key>configuredPotentialEDR@Display:2</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:21</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:27</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:3</key>
	<real>1</real>
	<key>configuredPotentialEDR@Display:4</key>
	<real>2</real>
	<key>configuredPotentialEDR@Display:5</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:2</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:21</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:27</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:3</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:4</key>
	<real>1</real>
	<key>configuredReferenceEDR@Display:5</key>
	<real>1</real>
	<key>connected@Display:2</key>
	<true/>
	<key>connected@Display:21</key>
	<false/>
	<key>connected@Display:27</key>
	<false/>
	<key>connected@Display:3</key>
	<true/>
	<key>connected@Display:4</key>
	<false/>
	<key>connected@Display:5</key>
	<false/>
	<key>currentColorProfileURL@Display:2</key>
	<string>file:///Library/ColorSync/Profiles/Displays/DELL%20U2723QX-E344219E-5110-4A0B-9349-C167AD00F612.icc</string>
	<key>currentColorProfileURL@Display:27</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Thaw%20Resolver-FFC11C4B-7FD9-4055-9360-315614468D23.icc</string>
	<key>currentColorProfileURL@Display:3</key>
	<string>file:///Library/ColorSync/Profiles/Displays/DELL%20U2723QX-E344219E-5110-4A0B-9349-C167AD00F612.icc</string>
	<key>currentColorProfileURL@Display:4</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>currentColorProfileURL@Display:5</key>
	<string>file:///Library/ColorSync/Profiles/Displays/PHL%20258B6QU-EB5B2120-9914-4F9B-BE71-352A339697BB.icc</string>
	<key>ddcConfigurationNoticeDismissed@Display:27</key>
	<true/>
	<key>ddcConfigurationNoticeDismissed@Display:3</key>
	<true/>
	<key>ddcConfigurationNoticeDismissed@Display:4</key>
	<true/>
	<key>defaultBitsPerSample@Display:2</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:21</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:3</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:4</key>
	<integer>10</integer>
	<key>defaultBitsPerSample@Display:5</key>
	<integer>10</integer>
	<key>defaultHeight@Display:2</key>
	<integer>1080</integer>
	<key>defaultHeight@Display:21</key>
	<integer>1080</integer>
	<key>defaultHeight@Display:27</key>
	<integer>240</integer>
	<key>defaultHeight@Display:3</key>
	<integer>1080</integer>
	<key>defaultHeight@Display:4</key>
	<integer>956</integer>
	<key>defaultHeight@Display:5</key>
	<integer>1440</integer>
	<key>defaultIsHiDPI@Display:2</key>
	<true/>
	<key>defaultIsHiDPI@Display:21</key>
	<true/>
	<key>defaultIsHiDPI@Display:27</key>
	<false/>
	<key>defaultIsHiDPI@Display:3</key>
	<true/>
	<key>defaultIsHiDPI@Display:4</key>
	<true/>
	<key>defaultIsHiDPI@Display:5</key>
	<false/>
	<key>defaultModeNumber@Display:2</key>
	<integer>91</integer>
	<key>defaultModeNumber@Display:21</key>
	<integer>91</integer>
	<key>defaultModeNumber@Display:27</key>
	<integer>0</integer>
	<key>defaultModeNumber@Display:3</key>
	<integer>48</integer>
	<key>defaultModeNumber@Display:4</key>
	<integer>6</integer>
	<key>defaultModeNumber@Display:5</key>
	<integer>28</integer>
	<key>defaultRefreshRate@Display:2</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:21</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:27</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:3</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:4</key>
	<integer>60</integer>
	<key>defaultRefreshRate@Display:5</key>
	<integer>60</integer>
	<key>defaultRefreshString@Display:2</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:21</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:3</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:4</key>
	<string>60Hz</string>
	<key>defaultRefreshString@Display:5</key>
	<string>60Hz</string>
	<key>defaultWidth@Display:2</key>
	<integer>1920</integer>
	<key>defaultWidth@Display:21</key>
	<integer>1920</integer>
	<key>defaultWidth@Display:27</key>
	<integer>320</integer>
	<key>defaultWidth@Display:3</key>
	<integer>1920</integer>
	<key>defaultWidth@Display:4</key>
	<integer>1470</integer>
	<key>defaultWidth@Display:5</key>
	<integer>2560</integer>
	<key>displayConfigurationId</key>
	<integer>719</integer>
	<key>displayConfigurationId@Display:2</key>
	<integer>719</integer>
	<key>displayConfigurationId@Display:21</key>
	<integer>716</integer>
	<key>displayConfigurationId@Display:27</key>
	<integer>699</integer>
	<key>displayConfigurationId@Display:3</key>
	<integer>719</integer>
	<key>displayConfigurationId@Display:4</key>
	<integer>718</integer>
	<key>displayConfigurationId@Display:5</key>
	<integer>685</integer>
	<key>displayIsTV_overrideUndo@v1552m41058</key>
	<integer>0</integer>
	<key>displayModeMenuActiveFilterTagIds@Display:2</key>
	<string>["16:9_aspectRatio","60Hz_refreshString","10ビット_bitsPerSample","HiDPI_backingScaleFactor"]</string>
	<key>displayModeMenuActiveFilterTagIds@Display:4</key>
	<string>["ノッチ_aspectRatio","60Hz_refreshString","10ビット_bitsPerSample","HiDPI_backingScaleFactor"]</string>
	<key>displayModeMenuCustomFilter@Display:2</key>
	<false/>
	<key>displayModeMenuCustomFilter@Display:4</key>
	<true/>
	<key>displayModeMenuShowAll@Display:2</key>
	<false/>
	<key>displayModeMenuShowAll@Display:4</key>
	<false/>
	<key>displayModeMenuShowFilter@Display:4</key>
	<false/>
	<key>displayModeMenuShowManualResolutions@Display:2</key>
	<false/>
	<key>displayModeMenuShowManualResolutions@Display:4</key>
	<false/>
	<key>displayName_overrideUndo@v1552m41058</key>
	<string></string>
	<key>displayTagIDs</key>
	<string>[2,3,4,5,21,27]</string>
	<key>factoryColorProfileURL@Display:2</key>
	<string>file:///Library/ColorSync/Profiles/Displays/DELL%20U2720QM-415B1165-6C8C-4D9B-80BC-7CFB1696D5E5.icc</string>
	<key>factoryColorProfileURL@Display:27</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Thaw%20Resolver-FFC11C4B-7FD9-4055-9360-315614468D23.icc</string>
	<key>factoryColorProfileURL@Display:3</key>
	<string>file:///Library/ColorSync/Profiles/Displays/DELL%20U2723QX-E344219E-5110-4A0B-9349-C167AD00F612.icc</string>
	<key>factoryColorProfileURL@Display:4</key>
	<string>file:///Library/ColorSync/Profiles/Displays/Color%20LCD-37D8832A-2D66-02CA-B9F7-8F30A301B230.icc</string>
	<key>factoryColorProfileURL@Display:5</key>
	<string>file:///Library/ColorSync/Profiles/Displays/PHL%20258B6QU-EB5B2120-9914-4F9B-BE71-352A339697BB.icc</string>
	<key>firstAdded@Display:2</key>
	<real>795330928.12082303</real>
	<key>firstAdded@Display:21</key>
	<real>803814225.85151303</real>
	<key>firstAdded@Display:27</key>
	<real>808362895.94132197</real>
	<key>firstAdded@Display:3</key>
	<real>795330928.15264201</real>
	<key>firstAdded@Display:4</key>
	<real>795503624.43053997</real>
	<key>firstAdded@Display:5</key>
	<real>795765010.02130604</real>
	<key>hasAutoBrightness@Display:2</key>
	<false/>
	<key>hasAutoBrightness@Display:21</key>
	<false/>
	<key>hasAutoBrightness@Display:27</key>
	<false/>
	<key>hasAutoBrightness@Display:3</key>
	<false/>
	<key>hasAutoBrightness@Display:4</key>
	<true/>
	<key>hasAutoBrightness@Display:5</key>
	<false/>
	<key>hasHDR@Display:2</key>
	<true/>
	<key>hasHDR@Display:21</key>
	<false/>
	<key>hasHDR@Display:27</key>
	<false/>
	<key>hasHDR@Display:3</key>
	<true/>
	<key>hasHDR@Display:4</key>
	<false/>
	<key>hasHDR@Display:5</key>
	<false/>
	<key>hasHiDPI@Display:2</key>
	<true/>
	<key>hasHiDPI@Display:21</key>
	<true/>
	<key>hasHiDPI@Display:27</key>
	<false/>
	<key>hasHiDPI@Display:3</key>
	<true/>
	<key>hasHiDPI@Display:4</key>
	<true/>
	<key>hasHiDPI@Display:5</key>
	<true/>
	<key>hasNotch@Display:2</key>
	<false/>
	<key>hasNotch@Display:21</key>
	<false/>
	<key>hasNotch@Display:27</key>
	<false/>
	<key>hasNotch@Display:3</key>
	<false/>
	<key>hasNotch@Display:4</key>
	<true/>
	<key>hasNotch@Display:5</key>
	<false/>
	<key>hasUnderscanSupport@Display:2</key>
	<false/>
	<key>hasUnderscanSupport@Display:27</key>
	<false/>
	<key>hasUnderscanSupport@Display:3</key>
	<false/>
	<key>hasUnderscanSupport@Display:4</key>
	<false/>
	<key>hasUnderscanSupport@Display:5</key>
	<false/>
	<key>heightMillimeters@Display:2</key>
	<real>340.24185535519626</real>
	<key>heightMillimeters@Display:27</key>
	<real>150.51851625795717</real>
	<key>heightMillimeters@Display:3</key>
	<real>340.24185535519626</real>
	<key>heightMillimeters@Display:4</key>
	<real>188.92842525622518</real>
	<key>heightMillimeters@Display:5</key>
	<real>311.72726804559881</real>
	<key>identificationMethod@Display:27</key>
	<string>vendorModelSerial</string>
	<key>intelEDIDOverride_overrideUndo@v1552m41058</key>
	<false/>
	<key>isUnavailable@bGain-OverlayController@Display:27</key>
	<true/>
	<key>isUnavailable@gGain-OverlayController@Display:27</key>
	<true/>
	<key>isUnavailable@gain-OverlayController@Display:27</key>
	<true/>
	<key>isUnavailable@hardwareAmbientLight-AmbientLightController</key>
	<true/>
	<key>isUnavailable@rGain-OverlayController@Display:27</key>
	<true/>
	<key>isUnavailable@temperature-OverlayController@Display:27</key>
	<true/>
	<key>lastConnected@Display:2</key>
	<real>808739331.63969195</real>
	<key>lastConnected@Display:21</key>
	<real>808704668.41220796</real>
	<key>lastConnected@Display:27</key>
	<real>808362895.94279802</real>
	<key>lastConnected@Display:3</key>
	<real>808739332.06478906</real>
	<key>lastConnected@Display:4</key>
	<real>808739326.24994898</real>
	<key>lastConnected@Display:5</key>
	<real>807867255.81466603</real>
	<key>lastUnseen@Display:2</key>
	<real>808739329.79365301</real>
	<key>lastUnseen@Display:21</key>
	<real>808704668.415537</real>
	<key>lastUnseen@Display:27</key>
	<real>808362900.35614896</real>
	<key>lastUnseen@Display:3</key>
	<real>808704632.70984805</real>
	<key>lastUnseen@Display:4</key>
	<real>808739329.79409897</real>
	<key>lastUnseen@Display:5</key>
	<real>807868101.77701998</real>
	<key>manualResolutionList_overrideUndo@v1552m41058</key>
	<string>[]</string>
	<key>manualResolutions_overrideUndo@v1552m41058</key>
	<false/>
	<key>menuLevelBlueLight</key>
	<string>less</string>
	<key>menuLevelBrightness</key>
	<string>less</string>
	<key>menuLevelCheckForUpdates</key>
	<string>less</string>
	<key>menuLevelColorDepth</key>
	<string>more</string>
	<key>menuLevelColorMode</key>
	<string>more</string>
	<key>menuLevelColorProfile</key>
	<string>more</string>
	<key>menuLevelConfigProtection</key>
	<string>more</string>
	<key>menuLevelContrast</key>
	<string>hide</string>
	<key>menuLevelDDCAdjustments</key>
	<string>more</string>
	<key>menuLevelDDCInput</key>
	<string>more</string>
	<key>menuLevelDisplayConnect</key>
	<string>less</string>
	<key>menuLevelDisplayDisconnect</key>
	<string>more</string>
	<key>menuLevelDisplayMode</key>
	<string>more</string>
	<key>menuLevelDisplaysAndVirtualScreens</key>
	<string>less</string>
	<key>menuLevelGroups</key>
	<string>less</string>
	<key>menuLevelImageAdjustments</key>
	<string>more</string>
	<key>menuLevelManageDisplay</key>
	<string>more</string>
	<key>menuLevelManageVirtualScreen</key>
	<string>more</string>
	<key>menuLevelMirror</key>
	<string>more</string>
	<key>menuLevelMove</key>
	<string>more</string>
	<key>menuLevelPIP</key>
	<string>more</string>
	<key>menuLevelQuit</key>
	<string>less</string>
	<key>menuLevelRefreshRate</key>
	<string>more</string>
	<key>menuLevelResolution</key>
	<string>less</string>
	<key>menuLevelRotation</key>
	<string>more</string>
	<key>menuLevelSettings</key>
	<string>less</string>
	<key>menuLevelStream</key>
	<string>more</string>
	<key>menuLevelToggles</key>
	<string>more</string>
	<key>menuLevelVideoFilterWindow</key>
	<string>less</string>
	<key>menuLevelVirtualScreenConnect</key>
	<string>less</string>
	<key>menuLevelVirtualScreenDisconnect</key>
	<string>more</string>
	<key>menuLevelVolume</key>
	<string>more</string>
	<key>menuLevelXDRPreset</key>
	<string>more</string>
	<key>moreOptions@Display:2</key>
	<true/>
	<key>moreOptions@Display:21</key>
	<false/>
	<key>moreOptions@Display:3</key>
	<false/>
	<key>moreOptions@Display:4</key>
	<false/>
	<key>moreOptions@Display:5</key>
	<false/>
	<key>name@Display:2</key>
	<string>DELL U2720QM</string>
	<key>name@Display:21</key>
	<string>Generic Display 2</string>
	<key>name@Display:27</key>
	<string>Thaw Resolver</string>
	<key>name@Display:3</key>
	<string>DELL U2723QX</string>
	<key>name@Display:4</key>
	<string>Color LCD</string>
	<key>name@Display:5</key>
	<string>PHL 258B6QU</string>
	<key>nativeHeight@Display:2</key>
	<integer>2160</integer>
	<key>nativeHeight@Display:21</key>
	<integer>2160</integer>
	<key>nativeHeight@Display:27</key>
	<integer>480</integer>
	<key>nativeHeight@Display:3</key>
	<integer>2160</integer>
	<key>nativeHeight@Display:4</key>
	<integer>1664</integer>
	<key>nativeHeight@Display:5</key>
	<integer>1440</integer>
	<key>nativeModeNumber@Display:2</key>
	<integer>153</integer>
	<key>nativeModeNumber@Display:21</key>
	<integer>153</integer>
	<key>nativeModeNumber@Display:27</key>
	<integer>0</integer>
	<key>nativeModeNumber@Display:3</key>
	<integer>76</integer>
	<key>nativeModeNumber@Display:4</key>
	<integer>15</integer>
	<key>nativeModeNumber@Display:5</key>
	<integer>28</integer>
	<key>nativeWidth@Display:2</key>
	<integer>3840</integer>
	<key>nativeWidth@Display:21</key>
	<integer>3840</integer>
	<key>nativeWidth@Display:27</key>
	<integer>640</integer>
	<key>nativeWidth@Display:3</key>
	<integer>3840</integer>
	<key>nativeWidth@Display:4</key>
	<integer>2560</integer>
	<key>nativeWidth@Display:5</key>
	<integer>2560</integer>
	<key>nitsHDRMaxAvgReported@Display:2</key>
	<real>320</real>
	<key>nitsHDRMaxAvgReported@Display:3</key>
	<real>415</real>
	<key>nitsHDRMinReported@Display:2</key>
	<real>0.098390173189898525</real>
	<key>nitsHDRMinReported@Display:3</key>
	<real>0.20140383001449608</real>
	<key>nitsHDRPeakReported@Display:2</key>
	<real>400</real>
	<key>nitsHDRPeakReported@Display:3</key>
	<real>415</real>
	<key>nonAppleRealDisplay@Display:2</key>
	<true/>
	<key>nonAppleRealDisplay@Display:21</key>
	<true/>
	<key>nonAppleRealDisplay@Display:27</key>
	<false/>
	<key>nonAppleRealDisplay@Display:3</key>
	<true/>
	<key>nonAppleRealDisplay@Display:4</key>
	<false/>
	<key>nonAppleRealDisplay@Display:5</key>
	<true/>
	<key>onboardingMenuIcon</key>
	<false/>
	<key>onboardingMoreIcon</key>
	<false/>
	<key>onboardingSettingsIcon</key>
	<false/>
	<key>overrideCapable@Display:2</key>
	<true/>
	<key>overrideCapable@Display:21</key>
	<true/>
	<key>overrideCapable@Display:27</key>
	<false/>
	<key>overrideCapable@Display:3</key>
	<true/>
	<key>overrideCapable@Display:4</key>
	<true/>
	<key>overrideCapable@Display:5</key>
	<true/>
	<key>overrideDefaultResolutionHiDPI_overrideUndo@v1552m41058</key>
	<true/>
	<key>overrideDefaultResolution_overrideUndo@v1552m41058</key>
	<false/>
	<key>overrideDisplayIsTV_overrideUndo@v1552m41058</key>
	<false/>
	<key>overrideDisplayName_overrideUndo@v1552m41058</key>
	<false/>
	<key>overrideNativeResolution_overrideUndo@v1552m41058</key>
	<false/>
	<key>overrideSettingsLastAppliedDisplayTagIdList</key>
	<string>[]</string>
	<key>overrideSettingsLastChangedBootID</key>
	<string>0001-01-01 00:00:00 +0000</string>
	<key>overridesEnabled@v1552m41058</key>
	<false/>
	<key>overridesEnabled_overrideUndo@v1552m41058</key>
	<true/>
	<key>overridesRequireApply@v1552m41058</key>
	<false/>
	<key>overridesRequireApply_overrideUndo@v1552m41058</key>
	<false/>
	<key>persistedDisplayID@Display:2</key>
	<string>2</string>
	<key>persistedDisplayID@Display:27</key>
	<string>13</string>
	<key>persistedDisplayID@Display:3</key>
	<string>3</string>
	<key>persistedDisplayID@Display:4</key>
	<string>1</string>
	<key>protectSDRColorMode@Display:2</key>
	<string>8-bit RGB Full</string>
	<key>settingsDisplayGroupPaneSelectedTagID</key>
	<integer>0</integer>
	<key>settingsDisplayPaneSelectedTagID</key>
	<integer>0</integer>
	<key>settingsPaneId</key>
	<string>ProPane</string>
	<key>sheetSizeSaveEntries</key>
	<string>[{"width":660,"id":"DisplayInformationSheetView","height":560}]</string>
	<key>showOverrideAdvancedSettings@Display:4</key>
	<true/>
	<key>showProLicenseError</key>
	<false/>
	<key>sidecar@Display:2</key>
	<false/>
	<key>sidecar@Display:27</key>
	<false/>
	<key>sidecar@Display:3</key>
	<false/>
	<key>sidecar@Display:4</key>
	<false/>
	<key>sidecar@Display:5</key>
	<false/>
	<key>singleMoreMenuTagID</key>
	<integer>2</integer>
	<key>smoothSaclingCustomize_overrideUndo@v1552m41058</key>
	<false/>
	<key>smoothScaling_overrideUndo@v1552m41058</key>
	<false/>
	<key>storedIdentifiers@Display:2</key>
	<string>[{"edidData":"AP\/\/\/\/\/\/\/wAQrLpBTFFNQSUeAQOAPCJ47u6Vo1RMmSYPUFSlSwDhwNEA0cCzAKlAgYCBAHFPCOgAMPJwWoCwWIoAVVAhAAAeAAAA\/wBKWVNSMDIzCiAgICAgAAAA\/ABERUxMIFUyNzIwUU0KAAAA\/QAYSx6MPAAKICAgICAgASICA0PxUmFgX15dEB8FFAQTEhEDAgcGASMJfweDAQAAbQMMABAAODwgAGABAgNn2F3EAXiAA+IPA+MF\/wHmBgcBYFYoVl4AoKCgKVAwIDUAVVAhAAAaEUQAoIAAJVAwIDYAVVAhAAAaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfQ==","ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleSoCIO\/dispext1@98000000\/IOMobileFramebufferShim","vendorNumber":4268,"infoDictionaryModelNumber":16826,"portID":209756176,"weekOfManufacture":37,"systemUUID":"415B1165-6C8C-4D9B-80BC-7CFB1696D5E5","productName":"DELL U2720QM","infoDictionarySerial":1095586124,"alphanumericSerialNumber":"JYSR023","edidProductName":"DELL U2720QM","serial":1095586124,"yearOfManufacture":2020,"modelNumber":16826,"infoDictionaryVendorNumber":4268}]</string>
	<key>storedIdentifiers@Display:21</key>
	<string>[{"systemUUID":"UNKNOWN","productName":"Generic Display","vendorNumber":4268,"serial":1095586124,"modelNumber":16826}]</string>
	<key>storedIdentifiers@Display:27</key>
	<string>[{"productName":"Thaw Resolver","systemUUID":"FFC11C4B-7FD9-4055-9360-315614468D23","modelNumber":4660,"weekOfManufacture":0,"serial":1,"infoDictionaryVendorNumber":13398,"infoDictionarySerial":1,"yearOfManufacture":0,"infoDictionaryModelNumber":4660,"vendorNumber":13398}]</string>
	<key>storedIdentifiers@Display:3</key>
	<string>[{"edidData":"AP\/\/\/\/\/\/\/wAQrG1CTDhERB0hAQS1PCJ4Ot8VrVBErSUPUFSlSwDRANHAswCpQIGAgQBxT+HATdAAoPBwPoAwIDUAVVAhAAAaAAAA\/wBHMkhENlAzCiAgICAgAAAA\/ABERUxMIFUyNzIzUVgKAAAA\/QAXVg+MNgEKICAgICAgATsCAyLxShAfIAQTEhEDAgEjCQcHgwEAAOMFwADmBgUBYmI4o2YAoPBwH4AwIDUAVVAhAAAaVl4AoKCgKVAwIDUAVVAhAAAaEUQAoIAAH1AwIDYAVVAhAAAavxYAoIA4E0AwIDoAVVAhAAAaAAAAAAAAAAAAAAAAAAAAAAAAAAAACA==","ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleSoCIO\/dispext0@F4000000\/IOMobileFramebufferShim","vendorNumber":4268,"infoDictionaryModelNumber":17005,"portID":209760272,"weekOfManufacture":29,"systemUUID":"E344219E-5110-4A0B-9349-C167AD00F612","productName":"DELL U2723QX","infoDictionarySerial":1145321548,"alphanumericSerialNumber":"G2HD6P3","edidProductName":"DELL U2723QX","serial":1145321548,"yearOfManufacture":2023,"modelNumber":17005,"infoDictionaryVendorNumber":4268}]</string>
	<key>storedIdentifiers@Display:4</key>
	<string>[{"serial":4251086178,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleSoCIO\/disp0@74000000\/IOMobileFramebufferShim","modelNumber":41058,"productName":"Color LCD","infoDictionaryVendorNumber":1552,"infoDictionarySerial":4251086178,"infoDictionaryModelNumber":41058,"edidProductName":"Color LCD","systemUUID":"37D8832A-2D66-02CA-B9F7-8F30A301B230","vendorNumber":1552}]</string>
	<key>storedIdentifiers@Display:5</key>
	<string>[{"serial":9989,"infoDictionaryVendorNumber":16652,"infoDictionaryModelNumber":2293,"ioDisplayLocation":"IOService:\/AppleARMPE\/arm-io@10F00000\/AppleSoCIO\/dispext0@F4000000\/IOMobileFramebufferShim","edidData":"AP\/\/\/\/\/\/\/wBBDPUIBScAAA4bAQSlNx94OkRVqVVNnSYPUFS9SwDRwIGAgUCVD5UAswCBwAEBVl4AoKCgKVAwIDUAKTchAAAeAAAA\/wBVSEIxNzE0MDA5OTg5AAAA\/ABQSEwgMjU4QjZRVQogAAAA\/QAXTA9jHgEKICAgICAgAQ8CAxj0SwECAwQFkBESExQfIwkHB4MBAAACOoDQcjgtQBAsloApNyEAABgCOoAYcTgtQFgslgApNyEAABgoPICgcLAjQDAgNgApNyEAABoBHQC8UtAeILgoVUApNyEAAB6MCtCQIEAxIAxAVQApNyEAABgAAAAAAAAAAAAAAAAAXA==","yearOfManufacture":2017,"productName":"PHL 258B6QU","portID":16,"modelNumber":2293,"vendorNumber":16652,"infoDictionarySerial":9989,"alphanumericSerialNumber":"UHB1714009989","weekOfManufacture":14,"systemUUID":"EB5B2120-9914-4F9B-BE71-352A339697BB","edidProductName":"PHL 258B6QU"}]</string>
	<key>supportsHDR@Display:2</key>
	<true/>
	<key>supportsHDR@Display:21</key>
	<false/>
	<key>supportsHDR@Display:27</key>
	<false/>
	<key>supportsHDR@Display:3</key>
	<true/>
	<key>supportsHDR@Display:4</key>
	<false/>
	<key>supportsHDR@Display:5</key>
	<false/>
	<key>systemVirtual@Display:2</key>
	<false/>
	<key>systemVirtual@Display:21</key>
	<false/>
	<key>systemVirtual@Display:27</key>
	<true/>
	<key>systemVirtual@Display:3</key>
	<false/>
	<key>systemVirtual@Display:4</key>
	<false/>
	<key>systemVirtual@Display:5</key>
	<false/>
	<key>tagIDCounter</key>
	<integer>29</integer>
	<key>thirdPartyVirtual@Display:2</key>
	<false/>
	<key>thirdPartyVirtual@Display:27</key>
	<true/>
	<key>thirdPartyVirtual@Display:3</key>
	<false/>
	<key>thirdPartyVirtual@Display:4</key>
	<false/>
	<key>thirdPartyVirtual@Display:5</key>
	<false/>
	<key>toolsMenuCollapsed</key>
	<true/>
	<key>toolsMoreOptions</key>
	<false/>
	<key>tv@Display:2</key>
	<false/>
	<key>tv@Display:27</key>
	<false/>
	<key>tv@Display:3</key>
	<false/>
	<key>tv@Display:4</key>
	<false/>
	<key>tv@Display:5</key>
	<false/>
	<key>unknownDisplay@Display:2</key>
	<false/>
	<key>unknownDisplay@Display:27</key>
	<false/>
	<key>unknownDisplay@Display:3</key>
	<false/>
	<key>unknownDisplay@Display:4</key>
	<false/>
	<key>unknownDisplay@Display:5</key>
	<false/>
	<key>updateBuild</key>
	<string>50105</string>
	<key>updateFound</key>
	<true/>
	<key>updateVersion</key>
	<string>4.3.5</string>
	<key>uuid@Display:0</key>
	<integer>0</integer>
	<key>uuid@Display:2</key>
	<integer>2</integer>
	<key>uuid@Display:21</key>
	<integer>21</integer>
	<key>uuid@Display:27</key>
	<integer>27</integer>
	<key>uuid@Display:3</key>
	<integer>3</integer>
	<key>uuid@Display:4</key>
	<integer>4</integer>
	<key>uuid@Display:5</key>
	<integer>5</integer>
	<key>uuid@DisplayGroup:-1001</key>
	<integer>-1001</integer>
	<key>value@blueLight-BlueLightController</key>
	<real>0.5</real>
	<key>value@combinedBrightness-CombinedController@Display:2</key>
	<real>1</real>
	<key>value@combinedBrightness-CombinedController@Display:3</key>
	<real>0.875</real>
	<key>value@combinedBrightness-CombinedController@Display:4</key>
	<real>0.9358309489307981</real>
	<key>value@hardwareBrightness-AppleController@Display:2</key>
	<real>1</real>
	<key>value@hardwareBrightness-AppleController@Display:21</key>
	<real>1</real>
	<key>value@hardwareBrightness-AppleController@Display:3</key>
	<real>0.83499997854232788</real>
	<key>value@hardwareBrightness-AppleController@Display:4</key>
	<real>0.91529685258865356</real>
	<key>value@hardwareBrightness-DDCController@Display:2</key>
	<real>1</real>
	<key>value@hardwareBrightness-DDCController@Display:3</key>
	<real>0.75</real>
	<key>value@softwareBrightness-ColorController@Display:2</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:21</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:3</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:4</key>
	<real>1</real>
	<key>value@softwareBrightness-ColorController@Display:5</key>
	<real>1</real>
	<key>value@softwareBrightness-OverlayController@Display:27</key>
	<real>1</real>
	<key>virtualScreenLinked@Display:2</key>
	<false/>
	<key>virtualScreenLinked@Display:21</key>
	<false/>
	<key>virtualScreenLinked@Display:27</key>
	<false/>
	<key>virtualScreenLinked@Display:3</key>
	<false/>
	<key>virtualScreenLinked@Display:4</key>
	<false/>
	<key>virtualScreenLinked@Display:5</key>
	<false/>
	<key>widthMillimeters@Display:2</key>
	<real>599.2995301699309</real>
	<key>widthMillimeters@Display:27</key>
	<real>200.69135501060956</real>
	<key>widthMillimeters@Display:3</key>
	<real>599.2995301699309</real>
	<key>widthMillimeters@Display:4</key>
	<real>290.52842373034628</real>
	<key>widthMillimeters@Display:5</key>
	<real>547.95504795031604</real>
	<key>xdrPresetsSupported@Display:2</key>
	<false/>
	<key>xdrPresetsSupported@Display:21</key>
	<false/>
	<key>xdrPresetsSupported@Display:27</key>
	<false/>
	<key>xdrPresetsSupported@Display:3</key>
	<false/>
	<key>xdrPresetsSupported@Display:4</key>
	<false/>
	<key>xdrPresetsSupported@Display:5</key>
	<false/>
</dict>
</plist>
